/* === FORMULARIO BASE === */
.form {
  margin: 105px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 3rem 2.5rem;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 1;
}

.form__title {
  font-family: var(--font-title);
  font-size: 2.8rem;
  color: var(--color-accent);
  margin-bottom: 2rem;
  text-align: center;
}

.form__brand {
  color: var(--color-primary);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__label {
  font-weight: 600;
  color: var(--color-white);
}

.form__input,
.form__textarea {
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background-color: #1a1a1a;
  font-size: 1rem;
  color: var(--color-white);
  font-family: var(--font-text);
  resize: none;
}

body.body--register {
  padding: 2rem;
  background-image: url('../resources/img24.jpg');
  overflow-y: auto;
  height: 100vh;
  background-repeat:repeat;


}

/* BACK BUTTON */
.btn--back {
  position: fixed;
  left: 3%;
  top: 5%;
  z-index: 1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  background: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__links {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__link {
  color: var(--color-light);
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
.form__links {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__link:hover {
  color: var(--color-accent);
}






/* === REGISTRO === */
.body--register {
  padding: 2rem;
  background-image: url('../resources/img24.jpg');
  /*que se pueda escrolear el contenido, solo una parte que es el formulario de registro que sea estatico*/
  position: relative;
   overflow: auto;
   height: 100vh;

  
}
.register__container {
  margin: 105px 0 0 0;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 3rem 2.5rem;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}
 .register__group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 3px;
}
.register__input, 
.register__textarea {
  resize: none;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  background-color: #1a1a1a;
  font-size: 1rem;
  color: var(--color-white);
  font-family: var(--font-text);
}



/*LOGIN STYLES*/
.body--login {
  background-image: url('../resources/img24.jpg');
}
.login__button {
  font-weight: 700;
  
} 
.login__container{
  min-width: 440px;
  min-height: max-content;
}

