@import url(./formularios.css);
@import url(./custom_propertis.css);
@import url(./home.css);
@import url(./page_bienvenida.css);
@import url(./vistas_dinamicas.css);
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_left_alt");
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #00b0a8;
  --color-accent: #f3c622;
  --color-secondary: #0a3d3c;

  --color-overlay: rgba(0, 0, 0, 0.45);
  --font-title: 'Bebas Neue', sans-serif;
  --font-text: 'Urbanist', sans-serif;
  --transition-fast: 0.3s ease;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}








/* Tablets */
@media (max-width: 768px) {
  .welcome__content {
    padding: 2rem;
    align-items: center;
    text-align: center;
  }

  .welcome__title {
    font-size: 2.5rem;
  }

  .welcome__text {
    font-size: 1.1rem;
  }

  .welcome__button {
    width: 100%;
    font-size: 1rem;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .welcome__content {
    padding: 1.5rem;
  }

  .welcome__title {
    font-size: 2rem;
  }

  .welcome__text {
    font-size: 1rem;
  }

  .welcome__button {
    padding: 0.8rem 2rem;
    font-size: 0.95rem;
  }
}